.social_links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.primary {
    color: rgba(34, 34, 34, 1);
    background-color: rgba(160, 160, 160, 1);
    border: none;
}

.link:hover {
    transform: scale(1.1);
}

.secondary {
    background-color: transparent;
    border: 1px solid rgba(160, 160, 160, 1);
    color: rgba(160, 160, 160, 1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.secondary:hover {
    color: rgba(34, 34, 34, 1);
    background-color: rgba(160, 160, 160, 1);
}

.link {
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 30px;
    transition: 0.3s;
}

@media (max-width: 500px) {
    .link {
        font-size: 16px;
        height: 44px;
    }
}