.social_links {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.link {
    height: 50px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    font-weight: 300;
    padding: 10px;
}