.hero {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

.hero_name {
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}

.hero-animation-container {
  position: absolute;
  top: 100px;
  height: 10px;
}

.hero_profession {
  font-size: 56px;
  background: linear-gradient(90deg, #8e44ad, #ff00bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 1px;
}

.intro_paragraph {
  font-size: 18px;
  color: rgba(160, 160, 160, 1);
  letter-spacing: 1px;
  line-height: 2rem;
  z-index: 1;
}

#Resume-btn {
  width: 20%;
  height: 60px;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .intro_paragraph {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .intro-heading-container {
    line-height: 1.3;
  }
}

@media (max-width: 500px) {
  .hero {
    padding-top: 0px;
  }

  .hero_name {
    font-size: 44px;
  }

  .hero_profession {
    font-size: 48px;
  }
}
