.content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-right: 20px;
}

#oliver {
  border-radius: 7px;
  width: 250px;
  display: block;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.image-container {
  display: inline-block;
  position: relative;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 1.25rem;
  bottom: 0;
  background: linear-gradient(90deg, #8e44ad, #ff00bf);
  border-radius: 7px;
  opacity: 0.1;
  transition: opacity 0.2s ease-in-out;
  width: 100%;
}

.image-container:hover .img-overlay {
  opacity: 0;
}

.image-container::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: -15px;
  bottom: -15px;
  border: 2px solid transparent;
  border-radius: 7px;
  background: linear-gradient(90deg, #8e44ad, #ff00bf) border-box;
  -webkit-mask: linear-gradient(90deg, #8e44ad, #ff00bf) padding-box,
    linear-gradient(90deg, #8e44ad, #ff00bf);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: -1;
  box-sizing: border-box;
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out;
}

.image-container:hover::after {
  top: 20px;
  left: 20px;
  right: -20px;
  bottom: -20px;
}

.image-container:hover img {
  transform: translate(-5px, -5px);
}

.about-section-text-content {
  color: rgba(160, 160, 160, 1);
  font-size: 18px;
}

.highlighted-text {
  background: linear-gradient(90deg, #8e44ad, #ff00bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skillset-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: flex-start;
  align-items: center; 
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.skillset-item {
  position: relative;
  color: rgba(160, 160, 160, 1);
  padding-left: 1.25rem;
}

.skillset-container {
  padding-top: 1rem;
}

.skillset-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px; 
  background:linear-gradient(90deg, #8e44ad, #ff00bf);
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

@media (max-width: 1150px) {
  .content-container {
    flex-direction: column;
    padding-right: 0px;
  }

  #image-content {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
  }

  .skillset-container {
    padding-top: 0rem;
  }
}

@media (max-width: 800px) {
  .content-container {
    width: 100%;
  }
}

@media (max-width: 500px) {

  .image-container::after {
    top: 10px;
    left: 10px;
    right: -10px;
    bottom: -10px;
  }
}