#nav {
  padding-top: 30px;
  
}

.navbar {
  height: 70px;
  width: 100%;
  background-color: rgba(34, 34, 34, 0.6);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  z-index: 1;
}

.navbar-header {
  letter-spacing: 1px;
  color: white;
  position: relative;
}

.navbar-header #dot {
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: linear-gradient(90deg, #8e44ad, #ff00bf);
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0.5;
  }
}

.navbar_links {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.navbar-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 5px;
  color: white;
  letter-spacing: 1px;
}

/* 
    När jag lagt till link till Li elementen
.navbar-link:hover {
    background: linear-gradient(90deg, #8e44ad, #ff00bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

span {
  background: linear-gradient(90deg, #8e44ad, #ff00bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
