header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #0f0f0f;
  box-shadow: 0px 4px 4px -2px rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#logo {
  color: #fff;
  font-size: 1.2rem;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: rgba(160, 160, 160, 1);
  font-size: 1.2rem;
  position: relative;
}

nav a:hover {
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  display: none;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

span {
  background: linear-gradient(90deg, #8e44ad, #ff00bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
}

@media (max-width: 800px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: block;
    border: none;
    outline: none;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: black;
    transition: 1s;
    transform: translateY(-100vh);
    z-index: 9999;
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

@media (max-width: 1440px) {
  .item-width {
    width: 50vw;
  }
}

@media (max-width: 1024px) {
  .item-width {
    width: 60vw;
  }
}

@media (max-width: 700px) {
  .item-width {
    width: 75vw;
  }
}