.section-heading {
    color: #fff;
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: 600;
    padding-bottom: 40px;
}

.timeline-items {
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #fff;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 1.5rem);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 1.5rem);
}

.timeline-dot {
    height: 12px;
    width: 12px;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 6px);
    border-radius: 50%;
    top: 0px;
}

.today-dot {
    background: linear-gradient(90deg, #8e44ad, #ff00bf);
}

.timeline-date {
    color: rgba(160, 160, 160, 1);
    font-size: 1rem;
    margin: 0px 0 5px;
}

.timeline-content p {
    color: rgba(160, 160, 160, 1);
    font-size: 18px;
    line-height: 1.5rem;
}


@media (max-width: 767px) {
    .timeline-items::before {
        left: 5px;
    }
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    .timeline-dot {
        left: 0;
    }

}